.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding-bottom: 8px;
}

@media screen and (max-width: 1279px) {
  /* стили для экранов с разрешением менее 1280px по ширине */
  .place__title {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1023px) {
  /* стили для экранов с разрешением менее 1024px по ширине */
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* стили для экранов с разрешением менее 768px по ширине */
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 424px) {
  /* стили для экранов с разрешением менее 425px по ширине */
  .place__title {
    padding-bottom: 0;
  }
}
