.places {
  padding-top: 12px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  /* стили для экранов с разрешением менее 1024px по ширине */
  .places {
    padding-top: 15px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 424px) {
  /* стили для экранов с разрешением менее 425px по ширине */
  .places {
    padding-bottom: 65px;
  }
}
