.lead {
  padding-top: 56px;
  padding-left: 148px;
  padding-right: 148px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  /* стили для экранов с разрешением менее 1280px по ширине */
  .lead {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  /* стили для экранов с разрешением менее 1024px по ширине */
  .lead {
    padding-top: 48px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 424px) {
  /* стили для экранов с разрешением менее 425px по ширине */
  .lead {
    padding-top: 32px;
  }
}
