.popup__close-button {
  width: 33px;
  height: 33px;
  position: absolute;
  top: 15px;
  right: 20px;
  background-image: url(../../../images/close_btn.svg);
  background-size: initial;
  background-position: center;
  background-color: white;
  border: none;
  outline-style: none;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

@media screen and (max-width: 424px) {
  /* стили для экранов с разрешением менее 425px по ширине */
  .popup__close-button {
    width: 25px;
    height: 25px;
  }
}
