.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-top: 8px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  /* стили для экранов с разрешением менее 1024px по ширине */
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 424px) {
  /* стили для экранов с разрешением менее 425px по ширине */
  .lead__caption {
    padding-left: 16px;
  }
}
