.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  /* стили для экранов с разрешением менее 768px по ширине */
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
