.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 1023px) {
  /* стили для экранов с разрешением менее 1024px по ширине */
  .footer {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  /* стили для экранов с разрешением менее 768px по ширине */
  .footer {
    min-height: 310px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 64px;
  }
}

@media screen and (max-width: 424px) {
  /* стили для экранов с разрешением менее 425px по ширине */
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
